<section class="container">
    <nav>
        <div class="logo">
<a routerLink="/">
    <img src="/src/assets/images/download.png" alt="Logo">
</a></div>
<ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/">FAQS</a></li>
    <li><a routerLink="/login">Login</a></li>
   <li><a routerLink="/" class="" ><button type="button" class="btn btn-primary">signup</button></a></li> 

    
</ul>
</nav>
</section>
<style>
    nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0rem;
  background-color: rgb(249, 248, 248);
  color: rgb(8, 6, 6);
}

nav img {
  height:80px;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 1rem;
}

nav a {
  color: rgb(17, 14, 14);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

 nav li a:hover {
 background-color: rgb(67, 67, 159);
}

</style>
